{% extends 'base.html' %}

{% block content %}


<div class="bg-body rounded mx-auto" style="width: 1900px;">
    <h1>Blogs of Users</h1>
    <form method = "POST" novalidate>
      <p> {{form.name.label}} {{form.name (size=64)}} {{form.post.label}} {{form.post (size=64)}} {{form.addPost (size=32)}} </p>
</div>
<br>
<br>

<table>
  <tr>
    <div class="bg-body rounded mx-auto" style="width: 1900px;">
        <h3>Task Actions</h3>
    
    </div>
  </tr>
  {% for thing in posts %}
  <tr>
    <td style= 'color:black;'>{{thing.name}}</td>
    <td>
      <a href="delete/{{thing.id}}" style="margin-left: 10px;">Delete</a>
    <br><br><br>
    <td style= 'color:black;'>{{thing.post}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
