{% extends 'base.html' %}

{% block content %}

<div class="bg-body rounded mx-auto" style="width: 680px;">
    <h2>Hello {{ current_user.username }}, Utilize the Flashcard tools!</h2>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary"></nav>

<br>


<div class="card">
    <div class="card-header">
      Flash-Cards
    </div>
    <div class="card-body">
      <h5 class="card-title">Make your own Flash-Cards</h5>
      <p class="card-text">Click the button below to get started!</p>
      <a href="{{ url }}" class="btn btn-primary">Study Time</a>
    </div>
</div>

<br/>

<div class="card">
    <div class="card-header">
      Your Flash-Cards
    </div>
<div class="row">
    {% for items in thelist %}
    <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ items.title }}</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="/renderfc/{{ items.url }}" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>

<br>

<div class="card">
    <div class="card-header">
      Shared With Me
    </div>
<div class="row">
    {% for items in thelist %}
    <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ items.title }}</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="{{ items.url }}" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>







{% endblock %}