{% extends 'base.html' %}

{% block content %}
<div class="bg-body rounded mx-auto" style="width: 680px;">
    <h2>Hello {{ current_user.username }}, Get studying with the tools above!</h2>

</div>


{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<h1>{{ message }}</h1>
{% endfor %}
{% endif %}
{% endwith %}
<br>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary"></nav>

<div class="card">
    <div class="card-header">
      Recent Flash-Cards
    </div>
<div class="row">
    {% for items in thelist %}
    <div class="col-sm-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ items.title }}</h5>
            <p class="card-text">Flashcards about {{ items.title }}, created by <b>You</b></p>
            <a href="/renderfc/{{ items.url }}" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    {% endfor %}
</div>

</div>

</br>
</br>
</br>
</br>

<div class="card">
    <div class="card-header">
      Last three study sessions
    </div>
</div>
<br>
<br>
<div class="card">
    <div class="card-header">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 42%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">42%</div>
          </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 23%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">23%</div>
          </div>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">35%</div>
          </div>
    </div>
</div>
<br>








{% endblock %}