<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand"> NotesOfZeal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/flashboard">Flash-Cards</a>
          </li>
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/todolist">To Do List</a>
          </li>
          <li class= "nav-item">
            <a class= "nav-link active" aria-current="page" href="/upload">Render MD</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Journaling
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/makejournal">Create Journal</a></li>
              <li><a class="dropdown-item" href="/renderjournal">View your Journals</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              DELETE ACCOUNT
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/deleteacc">DELETE ACCOUNT!</a></li>
            </ul>
          </li>
        </ul>
        <form method ="POST" action="{{ url_for('search')}}" class="d-flex">
          {{ form.hidden_tag() }}
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search", name = "searched">
          <button class="btn btn-dark" type="submit">Search</button>
          <a href="/logout" class="btn btn-danger" role="button" aria-disabled="true">Logout</a>
        </form>
      </div>
    </div>
  </nav>
