{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{color}}" role="alert">
  {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="shadow p-3 mb-5 bg-primary bg-opacity-0 rounded mx-auto" style="width: 1000px;">
    <div class="card text-center">
        <div class="bg-primary bg-opacity-50 rounded card-header">
          NotesOfZeal
        </div>
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
        </div>
        <div class="bg-primary bg-opacity-50 rounded card-footer text-muted">
          <br>
        </div>
    </div>
</div>

<br>

{% for items in templist %} 
<div class="mx-auto" style="width: 600px;">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ items.term }}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <p1 class="card-text">{{ items.description }}</p1>
            </div>
          </div>
        </div>
    </div>
</div>
<br>
{% endfor %}

{% if currentowner == True %}
<div class="shadow p-3 mb-5 bg-primary bg-opacity-50 rounded mx-auto" style="width: 350px;">
  <form method = "POST" novalidate>
      {{ form.hidden_tag() }}
  
      <p>
          {{ form.sharedwith.label(class="form-label") }}
          {{ form.sharedwith(class="form-control") }}
      </p>
      <p>
          {{ form.submit(class="btn btn-primary") }}
      </p>
  </form>
</div>
{% endif %}


{% endblock %}