{% extends 'base.html' %}
{% block content %}

<br/>
<h2>You Searched For: "{{ searched }}"</h2>



<form method = "POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="card">
        <div class="card-header">
          Flashcards with "{{ searched }}"
        </div>
    <div class="row">
        {% for items in templist %}
        <div class="col-sm-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ items.title }}</h5>
                <a href="/renderfc/{{ items.url }}" class="btn btn-primary">View</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</form>




{% endblock %}