{% extends 'base.html' %}

{% block content %}



<div class="bg-body rounded mx-auto" style="width: 160px;">
    <h1>Sign Up</h1>
</div>


<div class="shadow p-3 mb-5 bg-primary bg-opacity-50 rounded mx-auto" style="width: 400px;">
    <form method = "POST" novalidate>
        {{ form.hidden_tag() }}
    
        <p>
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </p>
        <p>
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </p>
        <p>
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </p>

        <p>
            {{ form.submit(class="btn btn-primary") }}
        </p>
        
    
    </form>

</div>


{% endblock %}




