{% extends 'base.html' %}

{% block content %}


<div class="bg-body rounded mx-auto" style="width: 1900px;">
    <h1>To Do List</h1>
    <form method = "POST" novalidate>
      <p> {{form.name.label}} {{form.name (size=64)}} {{form.addtask (size=32)}} </p>
</div>
<br>
<br>

<table>
  <tr>
    <div class="bg-body rounded mx-auto" style="width: 1900px;">
        <h3>Task Actions</h3>
    
    </div>

</table>

{% for task in tasks %}
  <div class="card">
    <div class="bg-primary bg-opacity-10  card-body">
          <div class="card">
            <div class="card-body">
              <h4><strong>{{ task.name }}</strong></h4>
              <a href="/delete/{{task.id}}"style="margin-left: 0px;">Done!</a>
            </div>
          </div>
    </div>
  </div>
  <br>
  {% endfor %}

{% endblock %}

